doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title AJAX and the Weather Underground API
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    h1 AJAX and the Weather Underground API
    input#get-weather(type='button', value='Get Weather')
    h2#temperature
